.header {
    background-color: rgba(0,0,0, 0.8); 
    padding: 20px 0;
}

.header .header-content {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.img-logo {
    max-height: 100%;
    width: 170px; 
}

ul li {
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav ul li {
    padding-left: 30px;
}

.nav ul li .nav-link:hover {
    transition: 0.5s;
    color: #1ed760;
}

.nav ul li i{
    font-size: 20px;
    color: white;
    margin-right: 8px;
}
