.homemain {
    padding: 0;
    margin: 0;
    padding-top: 40px; 
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.homemain-content {
    max-width: 1100px;
    margin: 0 auto;
}

h2, h3 {
    margin: 0;
    color: white;
}

h2 {
    padding: 30px 0;
}

h3 {
    font-size: 16px;
    margin-bottom: 30px; 
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
} 

.band-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.band-name {
    flex-basis: 20%;
}

.band-items figure {
    margin: 0;
    padding: 0;
	width: 200px;
	height: 200px;
	background: #fff;
    overflow: hidden;
    cursor: pointer; 
    -webkit-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.75);
}

.band-items figure img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.band-items figure:hover img {
    cursor: pointer;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}



.band-name h3 {
    text-align: center;
    padding-top: 10px;
}
